.collection-preview {
	&__header {
		margin-bottom: 1rem;
		&--title {
			margin-bottom: 2rem;
			font-size: 2.8rem;
		}
		&--link {
			font-size: 2rem;
		}
	}
	&__wrapper {
		display: flex;
		margin-bottom: 5rem;
		& > *:not(:last-child){
			margin-right: 3rem;
		}
	}
}