*, 
*::before, 
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; // 1rem = 10px
	box-sizing: border-box;
}

body {
	background: $pageBackgroundColor;
	font-family: 'Do Hyeon', sans-serif;
	color: #fff;
}

a {
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1, h2, .h1, .h2 {
	font-size: 3rem;
}

h3,.h3 {
	font-size: 2.6rem;
}

h4, .h4 {
	font-size: 1.4rem;
}

h5, h6, .h5, .h6 {
	font-size: 1rem;
}

p {
	font-size: 1.6rem;
}

label {
	font-size: 3rem;
}



/* Generic component styling */

.product-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	&--item {
		min-width: 30%;
		height: 250px;
		flex: 1 1 auto; /* because it's a flex-item */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid black;
		margin: 0 7.5px 15px;
		&:first-child {
			margin-right: 7.5px;
		}
		&:last-child  {
			margin-left: 7.5px;
		}

		&__content {
			height: 90px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border: 1px solid black;
			padding: 0 25px;
			text-transform: uppercase;
		}
	}
}
